<mat-toolbar color="primary" class="second-toolbar">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <h1>About</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card id="about-panel">
  <mat-card-header>
    <mat-card-title>About</mat-card-title>
  </mat-card-header>
  <mat-card-content id="about-content">
    <p>
      It is shown an environment which is an extended version of the "Waterworld" example of the Stanford University CS group &ndash; more specific by Andrej Karpathy.
      You'll find multiple pages, each with different content.
      <ol style="line-height: 1.15;">
        <li><b>Pre-Trained</b>: This page shows two agents which were trained in a simulation run.</li>
        <li><b>Simulation</b>: The simulation environment offers the ability to run individual simulations.</li>
        <li><b>Explanation</b>: This page offers explanatory content regarding the logics and technical background of the simulation.</li>
        <li><b>DQN-Method</b>: This page offers even more insight into how the agents inference mechanism, namely the DQN-Method, is implemented.</li>
        <li><b>About</b>: This page offers an overview of the Dependencies of this project.</li>
      </ol>
      The content of this website is for educational purposes only.
    </p>
    <p>
      This project shows the simulation environment, the gained pre-trained agents, an explanation of the whole simulation and project construction, hyperparameters and the presentation of the simulation results.
      It is also shown how the DQN-Method is working in principle.
      To make yourself an impression the source code of all dependent project modules please see the following section "Dependencies".
    </p>
  </mat-card-content>
</mat-card>
<mat-card id="license-panel">
  <mat-card-header>
    <mat-card-title>Dependencies</mat-card-title>
  </mat-card-header>
  <mat-card-content id="about-content">
    <ol style="line-height: 1.15;">
      <li>
        <a href="https://github.com/mvrahden/learning-agents"><b>Learning Agents</b></a>
              &ndash; Implementation of the Simulation Flow Control and the Frontend View
      </li>
      <li>
        <a href="https://github.com/mvrahden/learning-agents-model"><b>Learning Agents Model</b></a>
              &ndash; Implementation of the entities and their individual logics involved in the Simulation
      </li>
      <li>
        <a href="https://github.com/mvrahden/reinforce-js"><b>reinforce-js</b></a>
              &ndash; Implementation of the DQN-Solver (available via <a href="https://www.npmjs.com/package/reinforce-js">&#64;npm</a>)
      </li>
      <li>
        <a href="https://github.com/mvrahden/recurrent-js"><b>recurrent-js</b></a>
              &ndash; Implementation of neural networks graph model and matrix operations (available via
              <a href="https://www.npmjs.com/package/recurrent-js">&#64;npm</a>)
      </li>
      <li>
        <a href="https://angular.io/"><b>Angular</b></a>
              &ndash; Mobile &amp; Desktop Frontend Framework
      </li>
      <li>
        <a href="https://material.angular.io/"><b>Angular Material</b></a>
              &ndash; Material Design Components for the Angular Frontend Framework
      </li>
    </ol>
  </mat-card-content>
</mat-card>
<mat-card id="license-panel">
  <mat-card-header>
    <mat-card-title>License</mat-card-title>
  </mat-card-header>
  <mat-card-content id="about-content" style="text-align:justify">
    <p>
      The MIT License Copyright (c) 2017 Menno van Rahden
    </p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
      files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy,
      modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software
      is furnished to do so, subject to the following conditions: The above copyright notice and this permission notice shall be
      included in all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
      OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
      BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT
      OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>
  </mat-card-content>
</mat-card>
