<mat-toolbar color="primary" class="second-toolbar">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <h1>About</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card id="about-panel">
  <mat-card-header>
    <mat-card-title>About</mat-card-title>
  </mat-card-header>
  <mat-card-content id="about-content">
    <p>
      The content of this website is for educational purposes only.
      It is inspired by the Stanford <a href="http://cs.stanford.edu/people/karpathy/reinforcejs/waterworld.html">"Waterworld"</a> example of Andrej Karpathy, which as well is MIT licensed.
    </p>
    <p>
      This project shows the simulation environment, the gained pre-trained agents, an explanation of the whole simulation and project construction, hyperparameters and the presentation of the simulation results.
      It is also shown how the DQN-Method is working in principle.
      For seeing the source code of all dependent project modules please see the following section "Dependencies".
    </p>
  </mat-card-content>
</mat-card>
<mat-card id="license-panel">
  <mat-card-header>
    <mat-card-title>Dependencies</mat-card-title>
  </mat-card-header>
  <mat-card-content id="about-content">
    <ol style="line-height: 1.15;">
      <li>
        <a href="https://github.com/mvrahden/learning-agents"><b>Learning Agents</b></a>
              &ndash; Implementation of the Simulation Control and Frontend
      </li>
      <li>
        <a href="https://github.com/mvrahden/learning-agents-model"><b>Learning Agents Model</b></a>
              &ndash; Implementation of World Objects
      </li>
      <li>
        <a href="https://github.com/mvrahden/reinforce-js"><b>reinforce-js</b></a>
              &ndash; Implementation of Deep-Q-Solver
      </li>
      <li>
        <a href="https://github.com/mvrahden/recurrent-js"><b>recurrent-js</b></a>
              &ndash; Implementation of Graph Model, Matrix-Operations and Neural Network Structure
      </li>
      <li>
        <a href="https://angular.io/"><b>Angular</b></a>
              &ndash; Mobile &amp; Desktop Frontend Framework
      </li>
      <li>
        <a href="https://material.angular.io/"><b>Angular Material</b></a>
              &ndash; Material Design Components for the Angular Frontend Framework
      </li>
    </ol>
  </mat-card-content>
</mat-card>
<mat-card id="license-panel">
  <mat-card-header>
    <mat-card-title>License</mat-card-title>
  </mat-card-header>
  <mat-card-content id="about-content" style="text-align:justify">
    <p>
      The MIT License Copyright (c) 2017 Menno van Rahden
    </p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
      files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy,
      modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software
      is furnished to do so, subject to the following conditions: The above copyright notice and this permission notice shall be
      included in all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
      OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
      BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT
      OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>
  </mat-card-content>
</mat-card>
