<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span class="mat-button-wrapper">
      <img src="./assets/learning-agents-logo.png" class="button-logo">
    </span>
    <button 
      mat-button
      *ngFor="let link of links"
      [routerLink]="link.route"
      routerLinkActive #rla="routerLinkActive">
    {{link.label}}
    </button>
    <div class="flex-spacer"></div>
    <span class="mat-button-wrapper">
      <a mat-button href="https://github.com/mvrahden/learning-agents/">
        <img src="./assets/github-circle-white-transparent.svg" class="button-logo">
        GitHub</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div id="app-content" style="position: relative;">
  <router-outlet></router-outlet>
</div>