/* AppComponent's private CSS styles */
#nav-bar-panel {
  background-color: rgb(204, 204, 204);
  padding: 0px;
  margin: 0px;
}

.button-logo {
  vertical-align: middle;
  height: 26px;
  margin: 0 4px 3px 0;
}

.flex-spacer {
  flex: 1 1 auto;
}
