<mat-toolbar color="primary" class="second-toolbar">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <h1>Pre-trained Agents</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Simulation</mat-card-title>
  </mat-card-header>
  <div id="sim-control-panel">
    <div id="sim-control-buttons">
      <mat-button-toggle-group class="button-row">
        <button mat-button color="primary" *ngIf="!isPaused" (click)="pause()">Pause</button>
        <button mat-button color="warn" *ngIf="isPaused" (click)="start()">Run</button>
        <button mat-button matTooltip="Click to reload the brains from GitHub." matTooltipPosition="before" color="warn" *ngIf="!isFullyLoaded" (click)="reload()">Brains didn't load!</button>
        <button mat-button matTooltip="Click to reload the brains from GitHub." matTooltipPosition="before" color="primary" *ngIf="isFullyLoaded" (click)="reload()">Brains are loaded</button>
      </mat-button-toggle-group>
    </div>
    <div id="sim-speed-buttons">
      <mat-button-toggle-group class="button-row" value="{{simSpeedIndex}}">
        <mat-button-toggle value="3" matTooltip="Depending on your systems CPU, this could be lagging. In this case, prefer 'Fast'." matTooltipPosition="right" (click)="goMax()">Max</mat-button-toggle>
        <mat-button-toggle value="2" (click)="goFast()">Fast</mat-button-toggle>
        <mat-button-toggle value="1" (click)="goNormal()">Normal</mat-button-toggle>
        <mat-button-toggle value="0" (click)="goSlow()">Slow</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <canvas id="simulation" width="{{width}}" height="{{height}}"></canvas>
  <div id="data-table">
    <table width="100%" class="highlight">
      <thead>
        <tr>
          <th matTooltip="Agent Id">Id</th>
          <th matTooltip="Total amount of collected green Items">tot. green Items</th>
          <th matTooltip="Total amount of collected red Items">tot. red Items</th>
          <th matTooltip="Amount of collected green Items per second">curr. green Items</th>
          <th matTooltip="Amount of collected red Items per second">curr. red Items</th>
          <th matTooltip="Wall detection punishment per second">Walls</th>
          <th matTooltip="Agent detection punishment per second">Agents</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collision of collisionStats.collisions; let i = index" [attr.data-index]="i">
          <td>{{i + 1}}</td>
          <td>{{collision.totalItem0Collisions}}</td>
          <td>{{collision.totalItem1Collisions}}</td>
          <td>{{collision.item0Collisions}}</td>
          <td>{{collision.item1Collisions}}</td>
          <td>{{collision.wallDetectionReward | number: '3.2-2'}}</td>
          <td>{{collision.agentDetectionReward | number: '3.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="chart-control-panel">
    <mat-button-toggle-group class="button-row">
      <button mat-button color="accent" *ngIf="!isPausedPlotting" (click)="pausePlotting()">Pause Plotting</button>
      <button mat-button color="warn" *ngIf="isPausedPlotting" (click)="pausePlotting()">Run Plotting</button>
    </mat-button-toggle-group>
    <div matTooltip="Shows the rewards and punishments of the Agents over time." matTooltipPosition="above" id="reward-chart" style="width:100%; height: 300px;"></div>
  </div>
</mat-card>
